
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff8e8;
    color: #333;
}
.navbar {
    background: #d65a00;
    color: #fff;
    padding: 15px 0;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.hero {
    text-align: center;
    padding: 60px 20px;
}
.hero h1 {
    color: #d65a00;
    font-size: 32px;
}

.hero p {
    margin-top: 10px;
    color: #666;
}

.section-title {
    margin: 40px 0 20px;
    border-left: 4px solid #d65a00;
    padding-left: 10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}
.card {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0,1);
    position: relative;
}

.img-placeholder{
    background: #ddd;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 5px;
}
 .card p {
    font-size: 14px;
    color: #666;
 }

.cijena {
    position: absolute;
    right: 15px;
    bottom: 60px;
    color: #d65a00;
    font-weight: bold;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 15px;
}

.nutrition th {
    background: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.nutrition td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.Rezervacija {
    background: #2c3e50;
    color: #fff;
    padding: 40px 0;
    margin-top: 40px;
}

.Rezervacija h2 {
    margin-bottom: 20px;
}

.Rezervacija form {
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.Rezervacija input,
.Rezervacija select,
.Rezervacija textarea {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.Rezervacija button {
    margin-top: 10px;
    padding: 12px;
    background: #d65a00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.Rezervacija button:hover {
    background: #b94d00;
}
