body{background-color: antiquewhite;}

h1{
    color: #ff00ff;
    text-align: center;
}

.naslov{
    font-family: sans-serif;
}

#sadrzaj p{
    line-height: 1rem;
    color: blue;
}


ul{
    list-style: none;

}

ul li::before {
    content: 'eeee';
}
ol{
    list-style-type: lower-roman;
}