body{
    background: #1C6EA4;
background: -moz-linear-gradient(left, #d3d917 0%, #2388CB 46%, #144E75 100%);
background: -webkit-linear-gradient(left, #a41c7d 0%, #2388CB 46%, #d17d2e 100%);
background: linear-gradient(to right, #1ca43c 0%, #2388CB 46%, #144E75 100%);
}

section{
    display: grid;
    grid-template-areas: 
    ". a a b"
    "c d d b"
    "e e e b";
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}


div{

    background-color: aliceblue;
    border-radius: 2rem;
    font-size: 4rem;
    padding: 2rem;
    border: 4px dotted red;

}