root{
    --primarna-boja: #2c3e50;
    --pozadina: black;
}

body{
    background-color: var(--pozadina);
    #background-image: radial-gradient(circle,#bdc3c7 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;
}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;
    min-height: 90vh;
    min-block-size: 90vh;
    margin: 0 auto;
    background-color: gray;
    box-sizing: border-box;
    outline-style: solid;
    outline-width: 3px;
    outline-color: var(--primarna-boja);
    outline-offset: 100px;
}

.container img {
    display: block;
    margin: 0 auto;
}

section{
    border: 2px solid var(--primarna-boja);
    border-radius: 0.5rem;
    margin: 10px;
    padding: 25px;
}