body{
    background-color: #eee;
}
.container{
    max-width: 960px;
    margin: auto;
    /* background-color: aqua; */
    display: grid;
    grid-template-areas: "a b c d";
    column-gap: 1rem;
    justify-content: center;
}
.a{ grid-area: a;}
.b{ grid-area: b;}
.c{ grid-area: c;}
.d{ grid-area: d;}

h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
  }

.panel{
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}
.cijena{
    color: green;
    font-weight: 900;
    font-size: 1.5rem;

}
button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
}