:root{
    --pozadine-boja: #eee;
    --panel-boja: white;

}

body{
    background-color: var(--pozadine-boja);
}

div{
    font-family: sans-serif;
    background-color: var(--panel-boja);
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
h2{
    color: #9c8d8d;
    font-size: 1.3rem;
}