:root{
    --granica: 2px solid black;
}


h1{
    text-align: center;
    font-family: sans-serif;
}

#grid{
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.a{
    grid-area: a;
    border-top: var(--granica);
}
.b{
    grid-area: b;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}
.c{
    grid-area: c;
    border-top: var(--granica);
    padding: 20px;
}

form{
    font-family: sans-serif;
}
